@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
//colors
$body-bg-color:linear-gradient(180deg,
#B068E9 0%,
#6463E7 100%);
$normal-text-color:#4B4C5F;
$bold-text-color: #1E1F36;
$light-text-color: #787887;
$hover-text-color:#F47B56;